
body {
    background-image: url("../images/background.jpg");
    background-color: #f8f9fa;
}
.header {
    background-color: #e03444;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.menu-section {
    padding: 40px 0;
    text-align: center;
}
.menu-item {
    margin: 20px;
}